:root{
    --violet-color: #434679;
    --menu-color: #26392d;
    --yellow-color: #e5e0ca;
    --text-color: #3d4043;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

